<script>

    //document.addEventListener("deviceready", onDeviceReady, false);
    function getSrchResults() {
        console.log(StatusBar);
        StatusBar.hide();
       
    
   
    //$.get("http://biz-park.co.za/eziapp/tile-menu.html", function (data) {
       $.get("https://www.google.co.za/search?source=hp&ei=fRX6WcKoHciiU7SYtbgO&q=free+wifi&oq=free+wifi", function (data) {
        
        $('#targetSettings').html(data);

    });
}
</script>
<div data-role="view" data-title="View" data-layout="main" data-model="app.settingsView" data-show="app.settingsView.onShow" data-after-show="app.settingsView.afterShow" id="settingsViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.settingsView.title"></span>

        </div>
    </header>
    <div style="width:100%; display:grid; position: fixed; z-index: 5999; background-color: #fff; ">
     <input type="text" id="name" name="name" style="padding: 20px;width:90%;margin: 10px; " class="form-control" placeholder="Search.." required="" pb-role="username"> <br />
  <button id="btnReg2" type="submit" name="submit2" style="background-color: #056db5;margin: 10px;padding: 22px;width: 65px; position: absolute;top: 0px;right: 10px;border-radius: 0px 4px 4px 0px; border-width: 0px;color: #fff" onclick="getSrchResults()">GO</button>
</div>
    <!-- START_CUSTOM_CODE_settingsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
   <!-- <h1 data-bind="html: title"></h1>-->
    <!--<iframe id="sgframeX" frameborder="0" src="components/maps/index.html" width="100%" height="500px"></iframe>-->
    <div style=" margin-top: -50px;" id="targetSettings"> 
        
        
    </div>
    <!-- END_CUSTOM_CODE_settingsView -->
</div>