
<div data-role="view" data-title="View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow"
    id="homeViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <span data-bind="text: strings.homeView.title"></span> </div>
    </header>
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <a href="components/signinView/view.html">..</a> 
    <img src="./files/ezi_logo_login.png" width="100%" height="auto" onclick="triggerFootNav()">
    <h1 style="display:none" data-bind="html: title"></h1>
    <div id="hme"> 
      <!--  <iframe id="sgframe" src="https://stickyginger.co.za/test/kdap/" width="100%" height="100%"></iframe> 
        <a href="components/dashView/view.html" data-icon="home">DASH</a> -->
       
   
  
    </div>
    <!-- <div id="setdiv" onclick="setFrame()">SET</div>
    END_CUSTOM_CODE_homeView -->
</div>