<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>News</title>
    <style type="text/css">
        .iconRead{
            width:15px;
            height:auto;
        }
    </style>
</head>
<body>
    <div style="margin-bottom: 5px;width:100%;">
        <img src="./img/ad1-swtchsave.gif" width="100%" height="auto" style="max-width:275px; margin-top:-5px" />
    </div>
    <div id="divContainer" class="col300 news_item " style="padding: 10px 0px 10px 0px; border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;">

        <a href="https://www.news24.com/SouthAfrica/News/former-home-affairs-employee-faces-corruption-charges-for-allegedly-issuing-fraudulent-permits-to-foreign-nationals-20171104" id="lnkImage" class="article_img"><img src="https://cdn.24.co.za/files/Cms/General/d/6685/ec8f8e53acb749719dfdc9eb14538046.jpg" id="imgArticle" class="left" style="width: 23%;" title=""></a>
        <h4 class="bold" style="  width: 70%;  float: right;  margin: 5px;  margin-top: -1px;"><a href="https://www.news24.com/SouthAfrica/News/former-home-affairs-employee-faces-corruption-charges-for-allegedly-issuing-fraudulent-permits-to-foreign-nationals-20171104">Former Home Affairs employee faces corruption charges for allegedly issuing fraudulent permits to foreign nationals...</a></h4>
        <div id="divTimeComment" class="wrap_stampcomment" style="display:block;width: 70%; float: right;padding: 0px; margin: 0px; margin-top: -30px; text-align: right;">
            <span id="divPublishDate" class="block datestamp left" style="font-size: 8pt; text-align: right; margin-right:20px;">2017-11-04 17:30 </span><img style="width: 25px; float: right; margin-top: -40px;" src="./img/icons/arrowr.png">
        </div>
      </div>

    <div id="divContainer2" class="col300 news_item " style="padding: 10px 0px 10px 0px; border-bottom: 1px solid #ccc;">

        <a href="https://www.news24.com/SouthAfrica/News/former-home-affairs-employee-faces-corruption-charges-for-allegedly-issuing-fraudulent-permits-to-foreign-nationals-20171104" id="lnkImage" class="article_img"><img src="https://cdn.24.co.za/files/Cms/General/d/4480/7558336c4c24431592f91299290e7111.jpg" id="imgArticle" class="left" style="width: 23%;" title=""></a>
        <h4 class="bold" style="  width: 70%;  float: right; margin-top: -60px; "><a href="https://www.news24.com/SouthAfrica/News/former-home-affairs-employee-faces-corruption-charges-for-allegedly-issuing-fraudulent-permits-to-foreign-nationals-20171104">Joburg couple arrested for allegedly renting out hijacked building...</a></h4>
        <div id="divTimeComment2" class="wrap_stampcomment" style="display:block;width: 70%; float: right;padding: 0px; margin: 0px; margin-top: -30px; text-align: right;">
            <span id="divPublishDate2" class="block datestamp left" style="font-size: 8pt; text-align: right; margin-right:20px;">2017-11-04 13:31 </span><img style="width: 25px; float: right; margin-top: -40px;" src="./img/icons/arrowr.png">
        </div>
    </div>
    
</body>
</html>