<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>News</title>
</head>
<body>
    <div id="divContainer" class="col300 news_item ">

        <a href="https://www.news24.com/SouthAfrica/News/former-home-affairs-employee-faces-corruption-charges-for-allegedly-issuing-fraudulent-permits-to-foreign-nationals-20171104" id="lnkImage" class="article_img"><img src="https://cdn.24.co.za/files/Cms/General/d/6685/ec8f8e53acb749719dfdc9eb14538046.jpg" id="imgArticle" class="left" title=""></a>
        <h4 class="bold" style="  width: 70%;  float: right;  margin: 5px;  margin-top: -1px;"><a href="https://www.news24.com/SouthAfrica/News/former-home-affairs-employee-faces-corruption-charges-for-allegedly-issuing-fraudulent-permits-to-foreign-nationals-20171104">Former Home Affairs employee faces corruption charges for allegedly issuing fraudulent permits to foreign nationals</a></h4>
        <div id="divTimeComment" class="wrap_stampcomment" style="display:none;">
            <span id="divPublishDate" class="block datestamp left">2017-11-04 17:30</span>
        </div>
        <p style="margin: 0px;">A 34-year-old former department of Home Affairs employee is facing the law for allegedly issuing fraudulent permits to foreign nationals at an asking price of about R10 000 per permit, the Hawks say.</p>
        <ul>
            <li><a href="https://www.news24.com/SouthAfrica/News/municipal-payroll-officer-in-court-for-fraud-money-laundering-20171103">Municipal payroll officer in court for fraud, money laundering</a></li>
            <li><a href="https://www.news24.com/SouthAfrica/News/symington-disciplinary-hearing-postponed-after-charges-questioned-20171102">Symington disciplinary hearing postponed after charges questioned</a></li>

        </ul>

    </div>
</body>
</html>