
<script>

    document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady() {
       
    StatusBar.hide();

    }
function setContent() {
       $.get("components/login.html", function (data) {
       
        $('#loginHome').html(data);
        // components/settingsView/view.html
      });
    }
    
  
    // index.html#components/signinView/view.html
    function setContentLoggedIn2() {
        $.get("components/myhome.html", function (data) {

            $('#loginHome').html(data);
            alert("xx");
        });
    }   

    setTimeout(function () { step1(); }, 5000);

    function step1() {
        document.getElementById("conecting").innerHTML = "Searching for Access Point...<br />Located AP: Eziconnect-01224";
        setTimeout(function () { step2(); }, 3000);
    }
    function step2() {
        document.getElementById("conecting").innerHTML = "Searching for Access Point...<br />Located AP: Eziconnect-01224<br/>Connecting to: Eziconnect-01224"
        setTimeout(function () { step3(); }, 2000);
    }

    function step3() {
        document.getElementById("conecting").innerHTML = "You are Connected!";
        document.getElementById("loader").src = "./files/wifi_yes.png";
    
        setTimeout(function () { setContent(); }, 2000);
    }
   

</script>
<div data-role="view" data-title="View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow"
    id="homeViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <span data-bind="text: strings.homeView.title"></span> </div>
    </header>
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
       <div id="loginHome">    
           <a href="#components/signinView/view.html">
               <img src="./files/ezi_logo_login.png" width="100%" height="auto" style="margin-top: 20px" onclick="">
           </a>
    <h1 style="display:none" data-bind="html: title"></h1>
      <div id="hme"> 
       <!--<iframe id="sgframe" src="components/maps/index.html" width="100%" height="400px"></iframe> 
        <a href="components/dashView/view.html" data-icon="home">DASH</a> -->
         <div style="width: 100%; text-align:center; margin-top:10px;margin-right:10px">Welcome to Eziconnect <br /> Wifi Access</div>
         <img id="loader" src="./files/loader.gif" width="95%" height="auto" style="margin-top: 0px" onclick="setContent()">
         <div id="conecting" style="width: 100%; text-align:center; margin-top:10px">Searching for Access Point</div>
  
      </div>
   </div>
    <!-- <div id="setdiv" onclick="setFrame()">SET</div>
    END_CUSTOM_CODE_homeView -->
</div>